<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
    <!--Slider-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Jobya - Job Listing Platform</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <br>
    {% block body %}
        
    {% endblock body %}
    <br>

    <!-- javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counter.int.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>